.App {
  font-family: 'Roboto Mono';
}

.vertical-center {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  h5 {
    text-decoration: underline;
  }
  strong {
   color: #e84a5f;
   font-weight: 400;
 }

a, a:hover {
  color:  #e84a5f;
}

.presentation .jumbotron {
  background-color: black;
  height: 800px;
}

.skills img {

width: 20%;
margin: 10px;
}

.recentWork  .iframe {
     overflow:hidden;
      overflow-y:hidden;
  }


.aboutme, .experience, .education, .skills, .recentWork {
  margin-top: 100px;
}
.aboutme {}
.experience{}
.education{}
.skills{}
.recentWork{}
