.App {
  font-family: 'Roboto Mono';
}


.presentation .jumbotron {
  background-color: black;
  height: 800px;
}

.aboutme, .experience {
  margin-top: 100px;
}
.aboutme h5 {
  text-decoration: underline;
}

.aboutme strong {
  color: #e84a5f;
  font-weight: 400;
}

.experience h5 {
  text-decoration: underline;
}

.experience strong {
  color: #e84a5f;
  font-weight: 400;
}

.vertical-center {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
