.App {
  font-family: 'Roboto Mono';
}


.presentation .jumbotron {
  background-color: black;
  height: 800px;
}

.aboutme h5 {
  text-decoration: underline;
}




.vertical-center {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
