.App {
  font-family: 'Roboto Mono';
}

.vertical-center {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  h5 {
    text-decoration: underline;
  }
  strong {
   color: #e84a5f;
   font-weight: 400;
 }

a, a:hover {
  color:  #e84a5f;
}

.presentation .jumbotron {
  background-color: black;
  height: 800px;
}

.skills img {

width: 20%;
margin: 10px;
}

.recentWork  .iframe {
     overflow:hidden;
      overflow-y:hidden;
  }

.contact img {
  width: 20%;
  margin: 10px;
}
.contact .card-body {
  padding: 5px;
}

.aboutme, .experience, .education, .skills, .recentWork, .contact, .footer {
  margin-top: 100px;
}
.aboutme {}
.experience{}
.education{}
.skills{}
.recentWork{}
.contact{}

.footer {
  background-color: black;
  height: 70px;
}


.contact .card:hover .card-body {
  opacity: 0.5;
  background-color: red;
  color: black;
  cursor: pointer;
}

.contact .card:hover .middle {
  opacity: 1;
}

.contact .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
